<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <title>document</title>
</head>
<body>
    <nav class="bg-cyan-900 h-16 flex justify-between items-center">
        <h1 class="bg-cyan-900 text-slate-50 text-center h-8 mt-3 text-lg mr-3">User Expenses</h1>
        <button class="h-6 border text-slate-50 w-36 rounded-xl hover:bg-blue-600" id="premium" name="premium">Buy Premium</button>
      </nav>
      
<div class="bg-blue-300 h-screen flex flex-col items-center">
    <form class="bg-teal-800 h-72 m justify-center inline-block mb-4">
            <div class="space-x-10 py-5 px-4">
                <label for="cost" name="cost">Price</label>
                <input class="rounded-lg" type="text" id="cost" name= "cost"> 
            </div>
            <div class="space-x-1 py-5 px-4">
                <label for="description" name="description">Description</label>
                <input class="rounded-lg"type="text" id="description" name="description">
            </div>
            <div class="space-x-9 py-5 px-4">
                <label for="category" name="category">Category</label>
                <select class="rounded-lg" name="category" id="category" class ="form-control">
                    <option value="none"> </option>
                    <option value="clothing">Clothes</option>
                    <option value="accessories">Accessories</option>
                    <option value="electronics">Electronics</option>
                    <option value="grocery">Grocery</option>
                    <option value="selfcare">Skim&haircare</option>
                    <option value="food">Others</option>
                    <option value="travel">Travel</option>
                  </select>
            </div>
            <div class="text-center mx-auto py-4 flex justify-between" id ="SubmitButton">
                <button class="bg-slate-500 text-red-100 w-35 rounded-xl hover:bg-blue-600 items-center ml-4" onclick="addexpense(event)">AddExpense</button>
            
            </div>
        </form>
       <button onclick="download(event)" id="download-button" disabled class="fixed bottom-10 right-4">
        <i class="fa-solid fa-download fa-2xl"></i></button>
        
            <ul id="list"></ul>

            <ul id="leaders"></ul>
        
    </div>


    
    
    
    <script>


         async function addexpense(event){
            try{
                event.preventDefault()
                const token_1= localStorage.getItem('token');
                //const username = decryptTokenValue(token_1);
                
                //console.log(event.target.form.price.value);
                const details={
                    price:event.target.form.cost.value,
                    description: event.target.form.description.value,
                    category: event.target.form.category.value,
                }
               // totalValue += event.target.form.cost.value;
                const data = await axios.post('http://localhost:3000/expense', details,{headers: {"Authorisation": token_1}})
                console.log("@#@#@#@##@#@###@#@",data.data.expense);
                    if(data.status===200){
                      showOnScreen(data.data.expense)
                    }
            }
            catch(err){
                console.log(err);
            }
        }

        function showOnScreen(data){
            console.log("###",data.id);
            user = {
                id:'',
                price:'',
                description:'',
                category:''
            }
            document.getElementById('cost').value="";
            document.getElementById('description').value="";
            document.getElementById('category').value="";

      const firstNode = document.getElementById('list');
      const inputData= `<li id=${data.id}> ${data.price} - ${data.description} - ${data.category} ====>
                          <button class="bg-slate-500 border text-red-100 w-36 rounded-xl hover:bg-blue-600 mb-2" onclick="deleteUser('${data.id}', '${data.price}')">Delete user</button>
                             </li>`
       
  firstNode.innerHTML = firstNode.innerHTML + inputData; 
        }

         window.addEventListener('DOMContentLoaded', async()=>{
            const token= localStorage.getItem('token');
           await axios.get("http://localhost:3000/data", {headers: {"Authorisation": token}}).then(async(response)=>{
           
            console.log("##################",response.data);
            if(response.data.ispremiumuser=== true){
        
            premiumFeatures();
        }
           // console.log("&777777", response);
           for(var i =0;i<response.data.newentry.length;i++){
           showOnScreen(response.data.newentry[i])
              }

    }).catch(err=>console.log(err))
  })


    async function deleteUser(id, price){
        console.log("******************",price);
        const token = localStorage.getItem('token');
       await axios.delete(`http://localhost:3000/delete/${id}?price=${price}`, {headers: {"Authorisation": token}})
          removeuserfromScreen(id);

    }

    function removeuserfromScreen(listid){
       // console.log(,listid);
        const list= document.getElementById('list');
        const deletelist = document.getElementById(listid);
        console.log("~~~~~~~~~~~~~~~~~~~~", deletelist);
            list.removeChild(deletelist)
    }
                     
document.getElementById('premium').onclick = async function(e){
    const token = localStorage.getItem('token')
    console.log("%^%%^", token)
    //const response = await axios.get('http://localhost:3000/purchasepremiumship');
                                                            

   const response = await axios.get('http://localhost:3000/purchase/purchasepremiumship', {headers: {"Authorisation": token}});
    console.log(response);
    var options= {
        "key": response.data.key_id,
        "order_id": response.data.order.id,
        "handler": async function(response){
            await axios.post('http://localhost:3000/purchase/updatetransactionstatus',{
                order_id: options.order_id,
                payment_id: response.razorpay_payment_id,
            },{headers: {"Authorisation": token} })
          
           // alert('You are a premium user now')
            premiumFeatures();
           

           
        }
    }
    const rzrpay1 = new Razorpay(options);
    rzrpay1.open();
    e.preventDefault()

    rzrpay1.on('payment.failed', async function(response){
        await axios.post('http://localhost:3000/purchase/updatefailedtransaction',{
                order_id: options.order_id,
                payment_id: response.razorpay_payment_id,
            },{headers: {"Authorisation": token} })
       alert('something went wrong')

    });

}

   function premiumFeatures(){
   // e.preventDefault()
    const token = localStorage.getItem('token');
        const userbar = document.getElementById('premium');
        const premButton = document.getElementById('SubmitButton');
            const span = document.createElement('span');
            span.style.color = 'white';
            const premium = document.createTextNode('You are a premium User');
            span.append(premium);
            userbar.parentNode.replaceChild(span,userbar)

            const btn = document.createElement('button');
            btn.className = 'bg-slate-500 text-red-100 w-30 rounded-xl hover:bg-blue-600 mr-2';
            btn.id = 'leaderboard';

            const text = document.createTextNode('ShowLeaderboard');
            btn.appendChild(text);

            //premButton.innerHTML= '';
            premButton.appendChild(btn);
            // //userbar.appendChild(btn);

            document.getElementById('leaderboard').onclick = async function(e){
                e.preventDefault()

                const response = await axios.get('http://localhost:3000/purchase/premiumuserdata', {headers: {"Authorisation": token}});
                console.log("hello daarlingssss", response);
                const firstNode = document.getElementById('leaders');
                
               const heading = document.createElement('div');
               heading.textContent= "Expenses Leaderboard";
               heading.style.fontWeight= "bold"
              
                

                for(var i=0;i<response.data.entry.length;i++){
                    if(i==0){
                        
                        firstNode.append(heading)
                    }
                   
      const inputData= `<li id=${response.data.entry[i].id}> ${response.data.entry[i].name} - ${response.data.entry[i].total_price}  </li>`
    
  firstNode.innerHTML = firstNode.innerHTML + inputData; 

  
                }
                console.log("helloooo ");
            }

   }

   
    </script>
  <script src="https://cdn.tailwindcss.com"></script>  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
      
</body>
</html>