<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>UserLogin</title>
</head>
<body>
    <nav class="bg-cyan-800 h-10 flex items-center justify-between">
        <h1 class="text-slate-50 text-center">Login</h1>
        <a class="text-slate-50 px-20" href="signup.html">SignUp</a>
      </nav>
    <div  class="bg-sky-100 h-screen flex justify-center">
        <form class="bg-slate-400 h-60 py-5 w-96 my-4">
            <div class="space-x-8 py-5 px-4">
                    <label  id="emailid" name="email">E-mail</label>
                    <input type="text" id="emailid" name="email">
                </div>
                  <div class="space-x-2 py-3 px-4">
                    <label  id="password" name="password">Password</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="text-center mx-auto py-4 w-36 rounded-xl">
                    <button class="bg-slate-500 text-red-100 w-36 rounded-xl hover:bg-blue-600" onClick="loginuser(event)">Login</button>
                </div>
                <div class="bg-red-700 font-bold text-zinc-950" id ="Block">
                    </div>
            </form>
            </div>   
            <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
            <script>
                async function loginuser(event){
                    event.preventDefault()
                    const login = {
                        email: event.target.form.email.value,
                        password: event.target.form.password.value
                    }
                    const res = await axios.post('http://localhost:3000/login',login).then((response)=>{
                    var value = document.getElementById("Block");
                    if(response.status==200)
                    console.log("******",response)
                    localStorage.setItem('token',response.data.token);

                       window.location.href= "expensepage"
                    })

                    . catch((err)=>{
                        var val = document.getElementById("Block");
                       val.innerHTML= err.response.data.message;
                        document.body.innerHTML += `<div style="colour:red;">${err}</div>`;
                    })
        
                }
            </script>
</body>
</html>