<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="bg-cyan-800 h-10 flex items-center justify-between">
        <h1 class="text-slate-50 text-center"> Reset Password</h1>
      </nav>
    <div  class="bg-sky-100 h-screen flex justify-center">

        <form class="bg-slate-400 h-60 py-5 w-96 my-4 flex flex-col  items-center">
            <div class="py-5 px-4">
              <h3 id="warningMessage" style="color: red; display: none;">All fields are manadatory.</h3>
              <label class="font-bold text-lg text-slate-950 text-center" for="password">Enter Password</label><br>
              <input class="w-64 h-10 mt-2 rounded-lg" type="text" id="password" name="password" required>
            </div>
            <div class="flex justify-center">
              <button class="text-center items-center bg-slate-500 text-red-100 w-56 rounded-2xl hover:bg-blue-600" onClick="ResetPasswords(event)">ResetPassword</button>
            </div>
          </form>
    </div>
    <script>
      async function ResetPasswords(event){
        try{
          event.preventDefault()
          const currentURL = window.location.href;
          const id = currentURL.split('/').pop();
          const newPassword = {
           newpassword: event.target.form.password.value,
           id:id

          }
           

          if(newPassword===''){
            document.getElementById('warningMessage').style.display = 'block';
                setTimeout(() => {
                    document.getElementById('warningMessage').style.display = 'none';
                }, 500);
                return;
          }
          const response = await axios.post('http://localhost:3000/password/updatePassword',newPassword).then((response)=>{
            console.log("yeeeeeeeeeeeeeee you did it ");
          })
        
        }
        catch(err){
                document.body.innerHTML += `<div style="colour:red;">${err}</div>`;
            }

      }
    </script>


    <script src="https://cdn.tailwindcss.com"></script>  
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>