<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ExpenseTracker</title>
   
</head>
<body>
        <nav class="bg-cyan-800 h-10 flex items-center justify-between">
            <h1 class="text-slate-50 text-center">Sign Up</h1>
            <a class="text-slate-50 px-20" href="loginpage.html">Existing User login</a>
          </nav>
    
    <div class="bg-white h-screen flex justify-center" >
        <form action="/" method="POST" >
            <h2 class="text-slate-50 text-center py-4">Enter Details</h2>
            <h3 id="warningMessage" style="color: red; display: none;">All fields are necessary to fill.</h3>
            <div class="text-center mx-auto px-6 py-5 space-x-2">
                <label  for="username">UserName</label>
                <input type="text" id="username" name="username" required >
            </div>
            <div class="text-center mx-auto px-6 py-5 space-x-6">
                <label for="emailid">E-mail</label>
                <input type="text" id="emailid" name="email" required >
            </div>
              <div class="text-center mx-auto px-6 py-5 space-x-2">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required >
            </div>
            <div class="text-center mx-auto hover:bg-white">
                <button  onClick="signup(event)">SignUp</button>
            </div>
        </form>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        async function signup(event){
            try{
            event.preventDefault()
            const signupDetails = {
                username: event.target.form.username.value,
                email: event.target.form.email.value,
                password: event.target.form.password.value
            }

            if (event.target.form.username.value===''||event.target.form.email.value==='' || event.target.form.password.value===''){
                document.getElementById('warningMessage').style.display = 'block';
                setTimeout(() => {
                    document.getElementById('warningMessage').style.display = 'none';
                }, 500);
                return;
            }
            const response = await axios.post('http://localhost:3000/signup',signupDetails)
            if(response.status=== 200){
            window.location.href = "loginpage.html"
            }
            else{
                throw new Error('failed to signup')
            }
        }
            catch(err){
                document.body.innerHTML += `<div style="colour:red;">${err}</div>`;
            }

        }
       







    </script>
</body>
</html>